<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="pastry-plugin-keyboard"
        version="1.0.0">

    <name>pastry-plugin-keyboard</name>
    <description> </description>
    <license>MIT</license>
    <keywords>keyboard</keywords>
    <repo>https://github.com/pastryTeam/pastry-plugin-keyboard.git</repo>
    <issue>https://github.com/pastryTeam/pastry-plugin-keyboard/issues</issue>

    <hook src="hooks/after_plugin_install.js" type="after_plugin_install"/>
    <hook src="hooks/before_plugin_uninstall.js" type="before_plugin_uninstall"/>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PTKeyboards">
                <param name="ios-package" value="PTKeyboards" />
            </feature>
        </config-file>

        <header-file src="src/ios/PTKeyboards.h" />
        <source-file src="src/ios/PTKeyboards.m" />
        <header-file src="src/ios/KeyboardViewController.h" />
        <source-file src="src/ios/KeyboardViewController.m" />
        <source-file src="src/ios/KeyboardViewController.xib" />


        <header-file src="src/ios/keyboard/PTKeyboardDelegate.h" target-dir="keyboard" />
        
        <header-file src="src/ios/keyboard/PTKeyboard.h" target-dir="keyboard" />
        <source-file src="src/ios/keyboard/PTKeyboard.m" target-dir="keyboard" />
        <header-file src="src/ios/keyboard/PTKeyboardiPad.h" target-dir="keyboard" />
        <source-file src="src/ios/keyboard/PTKeyboardiPad.m" target-dir="keyboard" />
        <header-file src="src/ios/keyboard/PTKeyboardiPhone.h" target-dir="keyboard" />
        <source-file src="src/ios/keyboard/PTKeyboardiPhone.m" target-dir="keyboard" />
        <header-file src="src/ios/keyboard/PTKeyboardPasswordNumerPhone.h" target-dir="keyboard" />
        <source-file src="src/ios/keyboard/PTKeyboardPasswordNumerPhone.m" target-dir="keyboard" />
        <header-file src="src/ios/keyboard/UIDevice+Hardware.h" target-dir="keyboard" />
        <source-file src="src/ios/keyboard/UIDevice+Hardware.m" target-dir="keyboard" />

        <header-file src="src/ios/keyboard/key/PTKeyboardHybridkey.h" target-dir="keyboard/key" />
        <source-file src="src/ios/keyboard/key/PTKeyboardHybridkey.m" target-dir="keyboard/key" />
        <header-file src="src/ios/keyboard/key/PTKeyboardHybridShiftKey.h" target-dir="keyboard/key" />
        <source-file src="src/ios/keyboard/key/PTKeyboardHybridShiftKey.m" target-dir="keyboard/key" />
        <header-file src="src/ios/keyboard/key/PTKeyboardKey.h" target-dir="keyboard/key" />
        <source-file src="src/ios/keyboard/key/PTKeyboardKey.m" target-dir="keyboard/key" />
        <header-file src="src/ios/keyboard/key/PTKeyboardPublickey.h" target-dir="keyboard/key" />
        <source-file src="src/ios/keyboard/key/PTKeyboardPublickey.m" target-dir="keyboard/key" />
        <header-file src="src/ios/keyboard/key/PTKeyViewLayer.h" target-dir="keyboard/key" />
        <source-file src="src/ios/keyboard/key/PTKeyViewLayer.m" target-dir="keyboard/key" />

        <header-file src="src/ios/keyboard/metrics/Linear.h" target-dir="keyboard/metrics" />
        <header-file src="src/ios/keyboard/metrics/Metrics.h" target-dir="keyboard/metrics" />
        <header-file src="src/ios/keyboard/metrics/PTKeyboardConstant.h" target-dir="keyboard/metrics" />
        <header-file src="src/ios/keyboard/metrics/PhoneKeyboardMetrics.h" target-dir="keyboard/metrics" />
        <source-file src="src/ios/keyboard/metrics/PhoneKeyboardMetrics.m" target-dir="keyboard/metrics" />


        <!-- 添加图片资源的示例 -->
        <resource-file src="src/ios/PTResources.bundle" />
        <!--<resource-file src="src/ios/icon.png" />-->
        <!--<resource-file src="src/ios/CDVCapture.bundle" />-->
        <!--添加framework的示例-->
        <!--<framework src="ImageIO.framework" weak="true" />-->

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PTKeyboards">
                <param name="android-package" value="asp.citic.ptframework.plugin.keyboards.PTKeyboards"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/PTKeyboards.java" target-dir="src/asp/citic/ptframework/plugin/keyboards" />
        <source-file src="src/android/securitykeyboard/PTInputEncryptor.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTInputEncryptorManager.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTInputStatistician.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTSecurityKeyboard.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTSecurityKeyboardInputChangeListener.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTSecurityKeyboardListener.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />
        <source-file src="src/android/securitykeyboard/PTTopActivityManager.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard" />


        <source-file src="src/android/securitykeyboard/impl/FullAlphabetSubKeyboardView.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/FullSymbolSubKeyboardView.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/KeyList.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/NineButtonDecorator.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTDefaultInputEncryptor.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTDefaultInputStatistician.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTDefaultSecurityEditText.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTDefaultSecurityKeyboard.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTDefaultSecurityKeyboardView.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTNormalSecurityEditText.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/PTNormalSecurityKeyboard.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/SmallNumberSubKeyboardView.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/SubKeyboardViewBase.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/SubKeyboardViewListener.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/TipButtonDecorator.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />
        <source-file src="src/android/securitykeyboard/impl/ViewDecorator.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/impl" />

        <source-file src="src/android/securitykeyboard/tools/PTInvokeLater.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/tools" />
        <source-file src="src/android/securitykeyboard/tools/PTKeyBoardUtil.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/tools" />
        <source-file src="src/android/securitykeyboard/tools/PTNowPoint.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/tools" />
        <source-file src="src/android/securitykeyboard/tools/PTSoftInputMethodUtil.java" target-dir="src/asp/citic/ptframework/plugin/keyboards/securitykeyboard/tools" />
        
        <resource-file src="src/android/res/anim/pop_enter.xml" target="res/anim/pop_enter.xml" />
        <resource-file src="src/android/res/anim/pop_exit.xml" target="res/anim/pop_exit.xml" />

        <resource-file src="src/android/res/drawable/fw_bg_dialog.xml" target="res/drawable/fw_bg_dialog.xml" />
        <resource-file src="src/android/res/drawable/fw_kb_backspace_selected_selector.xml" target="res/drawable/fw_kb_backspace_selected_selector.xml" />
        <resource-file src="src/android/res/drawable/fw_kb_funkey_selector.xml" target="res/drawable/fw_kb_funkey_selector.xml" />
        <resource-file src="src/android/res/drawable/fw_kb_key_selector.xml" target="res/drawable/fw_kb_key_selector.xml" />
        <resource-file src="src/android/res/drawable/fw_kb_nine_backspace.xml" target="res/drawable/fw_kb_nine_backspace.xml" />
        <resource-file src="src/android/res/drawable/fw_kb_shift_selector.xml" target="res/drawable/fw_kb_shift_selector.xml" />
        <resource-file src="src/android/res/drawable/fw_keyboard_backspace.xml" target="res/drawable/fw_keyboard_backspace.xml" />
        
        <resource-file src="src/android/res/values/keyboard_colors.xml" target="res/values/keyboard_colors.xml" />
        <resource-file src="src/android/res/values/keyboard_dimens.xml" target="res/values/keyboard_dimens.xml" />
        <resource-file src="src/android/res/values/keyboard_styles.xml" target="res/values/keyboard_styles.xml" />

        <resource-file src="src/android/res/layout/activity_version.xml" target="res/layout/activity_version.xml" />

        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_backspace_normal_nine.png" target="res/drawable-port-xhdpi/fw_kb_backspace_normal_nine.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_backspace_normal.png" target="res/drawable-port-xhdpi/fw_kb_backspace_normal.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_backspace_selected_nine.png" target="res/drawable-port-xhdpi/fw_kb_backspace_selected_nine.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_funkey_normal.png" target="res/drawable-port-xhdpi/fw_kb_funkey_normal.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_funkey_selected.png" target="res/drawable-port-xhdpi/fw_kb_funkey_selected.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_key_normal.9.png" target="res/drawable-port-xhdpi/fw_kb_key_normal.9.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_shift_normal.png" target="res/drawable-port-xhdpi/fw_kb_shift_normal.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_kb_shift_selected.png" target="res/drawable-port-xhdpi/fw_kb_shift_selected.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_select_left.png" target="res/drawable-port-xhdpi/fw_select_left.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_select_middle.png" target="res/drawable-port-xhdpi/fw_select_middle.png" />
        <resource-file src="src/android/res/drawable-port-xhdpi/fw_select_right.png" target="res/drawable-port-xhdpi/fw_select_right.png" />

     </platform>

</plugin>
